target/
.settings/
.vscode/
bin/
node_modules/
build/
webapp/
.idea
.iml
.classpath
.project
.factorypath
step37-2020.iml

# Angular files
dist/
/recommendationimpactdashboard/recommendation-impact-dashboard.iml
