<div id="root">
  <div id="content">
    <mat-progress-bar *ngIf="showLoadingBar()" mode="query"></mat-progress-bar>
    <button (click)="toggleDisplay()">Toggle Project</button>
    <div id="filter-container">
      <fa-icon [icon]="filter" id="filter-icon"></fa-icon><input type="text"
        (input)="search($event.target.value)" placeholder="Search by Name or ID" id="filter-input"
        title="Search by Name or ID" />
    </div>

    <table id="projects-table" class="center">
      <tr id="header">
        <th>
          <div [@rotateSort]="sortRotated.name">
            <fa-icon [icon]="arrow" [ngClass]="getSortClass(name)" (click)="toggleSort(name)"
              id="name-sort" class="clickable" title="Toggle sort direction"></fa-icon>
          </div><span class="clickable" (click)="changeField(name)" title="Sort by name"> Project
            Name</span>
        </th>
        <th>
          <div [@rotateSort]="sortRotated.iamBindings">
            <fa-icon [icon]="arrow" [ngClass]="getSortClass(iamBindings)"
              (click)="toggleSort(iamBindings)" id="iam-sort" class="clickable"
              title="Toggle sort direction"></fa-icon>
          </div><span class="clickable" (click)="changeField(iamBindings)"
            title="Sort by average IAM bindings"> Avg Bindings</span>
        </th>
        <th *ngIf="displayType === project">
          <div [@rotateSort]="sortRotated.projectNumber">
            <fa-icon [icon]="arrow" [ngClass]="getSortClass(projectNumber)"
              (click)="toggleSort(projectNumber)" id="number-sort" class="clickable"
              title="Toggle sort direction"></fa-icon>
          </div><span class="clickable" (click)="changeField(projectNumber)"
            title="Sort by project number"> Project Number</span>
        </th>
        <th>
          <div [@rotateSort]="sortRotated.id">
            <fa-icon [icon]="arrow" [ngClass]="getSortClass(id)" (click)="toggleSort(id)"
              id="id-sort" class="clickable" title="Toggle sort direction"></fa-icon>
          </div><span class="clickable" (click)="changeField(id)" title="Sort by ID">
            Project ID</span>
        </th>
      </tr>

      <tr *ngFor="let resource of getResources()" (click)="toggleProject(resource)"
        class="toggle-project clickable" title="Toggle project">
        <td>
          <fa-icon [icon]="circle" [ngStyle]="{'color': getColor(resource)}"
            class="project-color-icon"></fa-icon>{{ resource.getName() }}
        </td>
        <td>{{ resource.getAverageBindings() }}</td>
        <td *ngIf="displayType === project">{{ resource.projectNumber }}</td>
        <td>{{ resource.getId() }}</td>
      </tr>
    </table>
  </div>
</div>
