#project-prompt {
  display:flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #9AA0A6;
  border-radius: 3px;
  margin-bottom: 96px;
  background-color: #F8F9FA;
}

#project-prompt h1 {
  font-size: 50px;
}

#bottom-container {
  display: flex;
  justify-content: center;
  margin: 12px auto 0 auto;
}
