<table id="projects-table" class="center">
  <tr id="header">
    <th>
      <div [@rotateSort]="sortRotated.projectName"><fa-icon [icon]="faArrow" [ngClass]="getSortClass(projectName)" (click)="changeSort(projectName)" id="name-sort" class="clickable"></fa-icon></div> Project Name
    </th>
    <th>
      <div [@rotateSort]="sortRotated.iamBindings"><fa-icon [icon]="faArrow" [ngClass]="getSortClass(iamBindings)" (click)="changeSort(iamBindings)" id="iam-sort" class="clickable"></fa-icon></div> Bindings
    </th>
    <th>
      <div [@rotateSort]="sortRotated.projectId"><fa-icon [icon]="faArrow" [ngClass]="getSortClass(projectId)" (click)="changeSort(projectId)" id="id-sort" class="clickable"></fa-icon></div> Project ID
    </th>
    <th>
      <div [@rotateSort]="sortRotated.projectNumber"><fa-icon [icon]="faArrow" [ngClass]="getSortClass(projectNumber)" (click)="changeSort(projectNumber)" id="number-sort" class="clickable"></fa-icon></div> Project
      Number
    </th>
    <input type="text" (input)="search($event.target.value)"/>
  </tr>
  <tr *ngFor="let project of getProjects()" (click)="toggleProject(project)" class="toggle-project clickable">
    <td>
      <fa-icon [icon]="faCircle" [ngStyle]="{'color': getColor(project)}"></fa-icon>{{ project.name }}
    </td>
    <td>{{ project.metaData.avgIAMBindingsInPastYear }}</td>
    <td>{{ project.projectId }}</td>
    <td>{{ project.projectNumber }}</td>
  </tr>
</table>
