* {
  transition: color .3s;
}

#root {
  display: flex;
  margin-top: -13px;
}

#content {
  border: 1px solid #9AA0A6;
  border-radius: 3px;
  margin: 0 auto;
  max-width: 75%;
}

#resource-table {
  padding: 0 3px;
  border-collapse: collapse;
  text-align: left;
  display: inline-block;
}

#header {
  background-color: #E8EAED;
}

#header th {
  font-weight: normal;
  font-size: 18px;
  padding: 3px;
}

.toggle-project {
  border-top: 1px solid #9AA0A6;
}

.sort-active {
  color: black;
}

.sort-inactive {
  color: #999999;
}

.sort-active:hover, .sort-inactive:hover {
  color: lightgrey !important;
}

th div {
  float: left;
  margin: 0 5px;
}

.toggle-project:hover fa-icon {
  color: lightgrey !important;
}

#resource-table td {
  padding: 5px 8px;
}

#filter-input {
  border: none;
  border-bottom: 1px solid #666666;
  background-color: #E8EAED;
  font-size: 15px;
  flex: 1;
}

#filter-input:focus {
  outline: none;
}

#filter-icon {
  color: #666666;
  margin: 5px 2px 2px 5px;
}

#filter-header {
  float: right;
}

#filter-container {
  margin: 3px 3px 0 3px;
  display: flex;
  background-color: #E8EAED;
}

.project-color-icon {
  margin-right: 3px;
}

.toggle-project:nth-child(odd) {
  background-color: #F1F3F4;
}
